USE [master]
GO
/****** Object:  Database [ClinicManagementDB]    Script Date: 5/9/2026 1:39:24 PM ******/
CREATE DATABASE [ClinicManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[TimeSlot] [nvarchar](10) NULL,
	[AppointmentDate] [datetime] NULL,
	[Notes] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[CancelReason] [nvarchar](max) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DepartmentId] [nvarchar](max) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCards]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCards](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[HolderName] [nvarchar](100) NOT NULL,
	[PatientId] [uniqueidentifier] NULL,
	[ExpiryDate] [date] NOT NULL,
	[CoverageRate] [float] NOT NULL,
	[RegisteredHospital] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Symptoms] [nvarchar](max) NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[TreatmentPlan] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[VisitDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[IDCard] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[BloodType] [nvarchar](10) NULL,
	[Allergies] [nvarchar](max) NULL,
	[ChronicConditions] [nvarchar](max) NULL,
	[CurrentMedications] [nvarchar](max) NULL,
	[LastVisit] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
	[UserId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentItems]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentItems](
	[Id] [uniqueidentifier] NOT NULL,
	[PaymentId] [uniqueidentifier] NOT NULL,
	[ServiceName] [nvarchar](200) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[AppointmentId] [uniqueidentifier] NULL,
	[InsuranceCode] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[InsuranceAmount] [decimal](18, 0) NOT NULL,
	[PatientAmount] [decimal](18, 0) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](500) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionDetails]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[PrescriptionId] [uniqueidentifier] NOT NULL,
	[MedicineName] [nvarchar](max) NOT NULL,
	[Dosage] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
 CONSTRAINT [PK_PrescriptionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[PrescriptionDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/9/2026 1:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IDCard] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Department] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260507131320_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260508083937_FinalFixPrescription', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260508090647_AlreadyInSync', N'8.0.0')
GO
INSERT [dbo].[Appointments] ([Id], [PatientName], [Phone], [TimeSlot], [AppointmentDate], [Notes], [Status], [DoctorId], [CancelReason], [CancelledAt], [CreatedAt], [DepartmentId], [PatientId]) VALUES (N'caff0535-da46-4eec-a454-270a99dc7466', N'Nguyen To Anh', N'0335071143', N'09:00', CAST(N'2026-05-15T00:00:00.000' AS DateTime), N'', N'pending', N'dce9e246-5257-4cd1-bf49-b86aab7eaa91', NULL, NULL, CAST(N'2026-05-09T06:26:36.2713356' AS DateTime2), N'pediatrics', N'54505cdc-45f2-4ea4-bf25-bf872ab8efae')
INSERT [dbo].[Appointments] ([Id], [PatientName], [Phone], [TimeSlot], [AppointmentDate], [Notes], [Status], [DoctorId], [CancelReason], [CancelledAt], [CreatedAt], [DepartmentId], [PatientId]) VALUES (N'd44f8d4b-5ce0-4202-b319-ee3f0ebb4ffb', N'Nguyen To Anh', N'0335071143', N'08:30', CAST(N'2026-05-14T00:00:00.000' AS DateTime), N'', N'cancelled', N'dce9e246-5257-4cd1-bf49-b86aab7eaa91', NULL, CAST(N'2026-05-09T06:26:15.4108848' AS DateTime2), CAST(N'2026-05-09T06:20:43.7108504' AS DateTime2), N'pediatrics', N'54505cdc-45f2-4ea4-bf25-bf872ab8efae')
GO
INSERT [dbo].[InsuranceCards] ([Id], [Code], [HolderName], [PatientId], [ExpiryDate], [CoverageRate], [RegisteredHospital]) VALUES (N'9ddc8274-b3cb-4fe9-a1d1-10cf52c8560c', N'BH999999999', N'Nguyễn To Anh', NULL, CAST(N'2023-01-01' AS Date), 0.8, N'Bệnh Viện Đa Khoa')
INSERT [dbo].[InsuranceCards] ([Id], [Code], [HolderName], [PatientId], [ExpiryDate], [CoverageRate], [RegisteredHospital]) VALUES (N'5ddd4e83-a6d3-44df-b505-8e7cab30cf2b', N'BH123456789', N'Nguyễn To Anh', NULL, CAST(N'2027-12-31' AS Date), 0.8, N'Bệnh Viện Đa Khoa')
GO
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [DoctorId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [VisitDate]) VALUES (N'44082be6-0948-4537-8c3f-cc42f7824b6f', N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', N'Sick', N'Sick', N'Sick', N'', CAST(N'2026-05-09T13:27:44.7618495' AS DateTime2))
GO
INSERT [dbo].[Patients] ([Id], [PatientCode], [FullName], [DateOfBirth], [Gender], [Phone], [Address], [IDCard], [CreatedAt], [Status], [BloodType], [Allergies], [ChronicConditions], [CurrentMedications], [LastVisit], [Email], [UserId]) VALUES (N'54505cdc-45f2-4ea4-bf25-bf872ab8efae', N'BN001', N'Nguyen To Anh', CAST(N'2000-11-11T00:00:00.0000000' AS DateTime2), N'male', N'0335071143', NULL, N'1', CAST(N'2026-05-09T06:03:39.7297680' AS DateTime2), N'active', NULL, NULL, NULL, NULL, NULL, N'nazerro007@gmail.com', N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7')
GO
INSERT [dbo].[PaymentItems] ([Id], [PaymentId], [ServiceName], [Amount]) VALUES (N'163a1eab-8477-48a5-9c03-3420f0bad914', N'966ac903-2aff-4452-a903-65f245933af3', N'Medical Consultation', CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[PaymentItems] ([Id], [PaymentId], [ServiceName], [Amount]) VALUES (N'2d1c7954-91f4-48ee-a617-8aad62b6c5b5', N'966ac903-2aff-4452-a903-65f245933af3', N'X-Ray', CAST(350000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Payments] ([Id], [PatientId], [AppointmentId], [InsuranceCode], [TotalAmount], [InsuranceAmount], [PatientAmount], [PaymentMethod], [Status], [CreatedAt], [DoctorId], [Notes], [PaidAt]) VALUES (N'966ac903-2aff-4452-a903-65f245933af3', N'54505cdc-45f2-4ea4-bf25-bf872ab8efae', N'caff0535-da46-4eec-a454-270a99dc7466', N'', CAST(550000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(550000 AS Decimal(18, 0)), N'vnpay', N'completed', CAST(N'2026-05-09T06:26:54.1054618' AS DateTime2), N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', N'', CAST(N'2026-05-09T06:37:19.4494057' AS DateTime2))
GO
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration]) VALUES (N'a72caefc-f0ec-4400-9633-76245386e3bf', N'e89d7c31-e3fb-4435-a65a-7837c8d07912', N'Paracetamol 500mg', N'12', N'12', N'21')
GO
INSERT [dbo].[Prescriptions] ([Id], [PatientId], [DoctorId], [PrescriptionDate], [Notes]) VALUES (N'e89d7c31-e3fb-4435-a65a-7837c8d07912', N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', CAST(N'2026-05-09T06:28:37.1490000' AS DateTime2), N'')
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'f6978a02-6bd9-4f9f-9e97-18caafb79aa7', N'Nguyen To Anh', N'nazerro007@gmail.com', N'1', N'0335071143', N'Huy111111', N'patient', N'active', 0, NULL, CAST(N'2026-05-09T13:03:39.7068754' AS DateTime2), CAST(N'2026-05-09T13:03:39.7068756' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'd43ec0e7-3245-4e3c-928a-1dcf1f1de3d5', N'Bùi Thị Thu Hà', N'bs.thu@clinic.vn', N'000000000009', N'0901111008', N'123456', N'doctor', N'active', 0, NULL, CAST(N'2026-05-09T12:59:35.3833333' AS DateTime2), CAST(N'2026-05-09T13:01:23.7628821' AS DateTime2), N'ophthalmology')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'1891adb4-8f4a-49ab-9281-2f3368235949', N'Trần Thị Hoa', N'bs.hoa@clinic.vn', N'000000000002', N'0901111002', N'123456', N'doctor', N'active', 0, NULL, CAST(N'2026-05-09T12:58:58.1400000' AS DateTime2), CAST(N'2026-05-09T12:58:58.1400000' AS DateTime2), N'cardiology')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Insuranc__A25C5AA7A257892D]    Script Date: 5/9/2026 1:39:24 PM ******/
ALTER TABLE [dbo].[InsuranceCards] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__B9C66DFE100BB859]    Script Date: 5/9/2026 1:39:24 PM ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[PatientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (N'') FOR [DepartmentId]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PatientId]
GO
ALTER TABLE [dbo].[InsuranceCards] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[InsuranceCards] ADD  DEFAULT ((0.8)) FOR [CoverageRate]
GO
ALTER TABLE [dbo].[InsuranceCards] ADD  DEFAULT ('ClinicDB') FOR [RegisteredHospital]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DoctorId]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [VisitDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentItems] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('') FOR [InsuranceCode]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [InsuranceAmount]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('') FOR [Notes]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[PaymentItems]  WITH CHECK ADD FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
