USE [master]
GO
/****** Object:  Database [ClinicManagementDB]    Script Date: 5/8/2026 10:51:28 PM ******/
CREATE DATABASE [ClinicManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClinicManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[TimeSlot] [nvarchar](10) NULL,
	[AppointmentDate] [datetime] NULL,
	[Notes] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[DoctorId] [uniqueidentifier] NULL,
	[CancelReason] [nvarchar](max) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DepartmentId] [nvarchar](max) NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[Symptoms] [nvarchar](max) NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[TreatmentPlan] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[VisitDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[IDCard] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[BloodType] [nvarchar](10) NULL,
	[Allergies] [nvarchar](max) NULL,
	[ChronicConditions] [nvarchar](max) NULL,
	[CurrentMedications] [nvarchar](max) NULL,
	[LastVisit] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionDetails]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[PrescriptionId] [uniqueidentifier] NOT NULL,
	[MedicineName] [nvarchar](max) NOT NULL,
	[Dosage] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
 CONSTRAINT [PK_PrescriptionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientId] [uniqueidentifier] NOT NULL,
	[DoctorId] [uniqueidentifier] NOT NULL,
	[PrescriptionDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/8/2026 10:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IDCard] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockedUntil] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Department] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260507131320_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260508083937_FinalFixPrescription', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260508090647_AlreadyInSync', N'8.0.0')
GO
INSERT [dbo].[Appointments] ([Id], [PatientName], [Phone], [TimeSlot], [AppointmentDate], [Notes], [Status], [DoctorId], [CancelReason], [CancelledAt], [CreatedAt], [DepartmentId], [PatientId]) VALUES (N'f0ec5c13-0053-434c-b82b-00975373341d', N'Lê Minh Cường 1', N'0923456789', N'08:00', CAST(N'2026-05-12T00:00:00.000' AS DateTime), N'', N'pending', N'5d577b11-a4e7-49d1-9eec-8e4946ed8e85', NULL, NULL, CAST(N'2026-05-08T13:51:56.4922125' AS DateTime2), N'neurology', N'9cd38894-980b-4403-8c49-446eed1afb3a')
INSERT [dbo].[Appointments] ([Id], [PatientName], [Phone], [TimeSlot], [AppointmentDate], [Notes], [Status], [DoctorId], [CancelReason], [CancelledAt], [CreatedAt], [DepartmentId], [PatientId]) VALUES (N'c953e1bf-1d51-48d2-861c-022f857b39b2', N'Lê Minh Cường 1', N'0923456789', N'08:30', CAST(N'2026-06-18T00:00:00.000' AS DateTime), N'', N'pending', N'5d577b11-a4e7-49d1-9eec-8e4946ed8e85', NULL, NULL, CAST(N'2026-05-08T14:30:28.7792036' AS DateTime2), N'neurology', N'9cd38894-980b-4403-8c49-446eed1afb3a')
INSERT [dbo].[Appointments] ([Id], [PatientName], [Phone], [TimeSlot], [AppointmentDate], [Notes], [Status], [DoctorId], [CancelReason], [CancelledAt], [CreatedAt], [DepartmentId], [PatientId]) VALUES (N'0465d165-0c2b-4f00-93a1-1cffcaa96562', N'Lê Minh Cường 1', N'0923456789', N'15:30', CAST(N'2026-05-15T00:00:00.000' AS DateTime), N'', N'pending', N'e2cf9764-68f7-4279-9359-14cf049e816b', NULL, NULL, CAST(N'2026-05-08T14:21:29.2826110' AS DateTime2), N'cardiology', N'9cd38894-980b-4403-8c49-446eed1afb3a')
GO
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [DoctorId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [VisitDate]) VALUES (N'c7b9c6cf-f9a5-44da-8c73-ae1770a120de', N'1391bcf2-3554-471b-bfc9-112f42899f71', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', N'Sick', N'Sick', N'Sick', N'', CAST(N'2026-05-08T16:56:23.8336326' AS DateTime2))
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [DoctorId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [VisitDate]) VALUES (N'5d7a8bbd-c476-444d-be42-cdaaeb42f6ee', N'6e4f132f-520c-41bf-986b-18273a3a2038', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', N'123', N'123', N'123', N'', CAST(N'2026-05-08T16:21:43.0921415' AS DateTime2))
INSERT [dbo].[MedicalRecords] ([Id], [PatientId], [DoctorId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [VisitDate]) VALUES (N'5e025883-8309-4b06-b4bf-fab5facf7d67', N'1391bcf2-3554-471b-bfc9-112f42899f71', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', N'Sick', N'Sick', N'Sick', N'', CAST(N'2026-05-08T16:56:44.7532481' AS DateTime2))
GO
INSERT [dbo].[Patients] ([Id], [PatientCode], [FullName], [DateOfBirth], [Gender], [Phone], [Address], [IDCard], [CreatedAt], [Status], [BloodType], [Allergies], [ChronicConditions], [CurrentMedications], [LastVisit], [Email]) VALUES (N'9cd38894-980b-4403-8c49-446eed1afb3a', N'BN006', N'Lê Minh Cường 1', CAST(N'1978-11-30T00:00:00.0000000' AS DateTime2), N'Nam', N'0923456789', N'789 Trần Phú, Sơn Trà, Đà Nẵng', N'201234567892', CAST(N'2026-05-08T16:18:30.1100000' AS DateTime2), N'Active', N'O+', N'Aspirin', NULL, NULL, NULL, N'leminhcuong@email.com')
GO
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration]) VALUES (N'bd9f1f56-69bd-4681-afd8-00c6fb518955', N'2f76b358-6945-46d6-bdc0-f94ae3a95ac8', N'Paracetamol 500mg', N'123', N'123', N'132')
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration]) VALUES (N'495a3bc1-c6e7-4442-a3f4-0d0fdd4d2008', N'8f96516e-a7ae-45fd-b4d5-b84b7b92e3c6', N'Paracetamol 500mg', N'123', N'123', N'132')
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Dosage], [Frequency], [Duration]) VALUES (N'0cf15df5-fa97-4eca-93a1-1666008ba8db', N'4522ac6c-c1b9-421b-b920-46381b2791f2', N'Paracetamol 500mg', N'123', N'123', N'1')
GO
INSERT [dbo].[Prescriptions] ([Id], [PatientId], [DoctorId], [PrescriptionDate], [Notes]) VALUES (N'c0130e64-9e9b-4a91-8e65-2ce6d6ed7824', N'550e8400-e29b-41d4-a716-446655440000', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', CAST(N'2026-05-08T09:31:55.8710000' AS DateTime2), N'')
INSERT [dbo].[Prescriptions] ([Id], [PatientId], [DoctorId], [PrescriptionDate], [Notes]) VALUES (N'4522ac6c-c1b9-421b-b920-46381b2791f2', N'550e8400-e29b-41d4-a716-446655440000', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', CAST(N'2026-05-08T09:31:18.0990000' AS DateTime2), N'')
INSERT [dbo].[Prescriptions] ([Id], [PatientId], [DoctorId], [PrescriptionDate], [Notes]) VALUES (N'3af0e7de-473e-4bea-81b0-46aae43edfe0', N'6e4f132f-520c-41bf-986b-18273a3a2038', N'6f9619ff-8b86-d011-b42d-00cf4fc964ff', CAST(N'2026-05-08T09:35:16.1570000' AS DateTime2), N'')
GO
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'1391bcf2-3554-471b-bfc9-112f42899f71', N'123123', N'123@g', N'123123', N'admin@emr.com', N'1', N'nurse', N'active', 0, NULL, CAST(N'2026-05-08T16:41:25.3340026' AS DateTime2), CAST(N'2026-05-08T16:41:25.3339143' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'e2cf9764-68f7-4279-9359-14cf049e816b', N'Nguyễn Minh Tuấn', N'bs.tuan@clinic.vn', N'201111111001', N'0901111001', N'123', N'doctor', N'active', 0, NULL, CAST(N'2026-05-08T13:51:44.5266667' AS DateTime2), CAST(N'2026-05-08T13:51:44.5266667' AS DateTime2), N'cardiology')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [IDCard], [Phone], [PasswordHash], [Role], [Status], [FailedLoginAttempts], [LockedUntil], [CreatedAt], [UpdatedAt], [Department]) VALUES (N'6e4f132f-520c-41bf-986b-18273a3a2038', N'Quản Trị Viên', N'admin@emr.com', N'123456789', NULL, N'admin123', N'admin', N'active', 0, NULL, CAST(N'2026-05-07T22:43:39.7633333' AS DateTime2), CAST(N'2026-05-08T08:32:46.1725610' AS DateTime2), NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__B9C66DFE100BB859]    Script Date: 5/8/2026 10:51:29 PM ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[PatientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (N'') FOR [DepartmentId]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [PatientId]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DoctorId]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [VisitDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (N'Active') FOR [Status]
GO
USE [master]
GO
